/*  SCSS VARIABLES
================================================================================

	1.0 - Fonts w/Fallbacks
	1.1 - Colors Palette
	
/* ============================================================================ */
/* 1.0 - Fonts w/Fallbacks														*/
/* ============================================================================ */

$body-font: 'Open Sans', sans-serif;
$title-font : 'Herr Von Muellerhoff', cursive;

/* ============================================================================ */
/* 1.1 - Colors Palette															*/
/* ============================================================================ */

$preloader-bg: #000;
$footer-bg: #212121;

$title-color: #cfa670;
$main-color: #cfa670;
$dark-color: #212121;
$link-color: #cfa670;

$secondary-color: #25252F;
$tertiary-color: #e5e5e5;

$light-color:#fff;

/* ============================================================================ */